/******************************************************************************************
*
*
*
*   Styles for medium screen down i.e. < 992px
*
*
*
*******************************************************************************************/

body {

  /*&:before {
    content: '992 to 768';
    position: fixed;
    z-index: 10000;
    top:0;
    left:0;
    background-color: rgba(255, 255, 255, 0.75);
  }*/


}