/******************************************************************************************
*
*
*
*   Styles for std screen down i.e. < 1200px
*
*
*
*******************************************************************************************/

body {

  /*&:before {
    content: 'std screen down i.e. 1280 to 992';
    position: fixed;
    z-index: 10000;
    top:0;
    left:0;
    background-color: rgba(255, 255, 255, 0.75);
  }*/

 
}

